@font-face {
    font-family: 'MulishExtraLight';
    font-display: swap;
    src: url('../fonts/MulishExtraLight.ttf');
    src: url('../fonts/MulishExtraLight.ttf') format('truetype'); 
}

@font-face {
    font-family: 'MulishRegular';
    font-display: swap;
    src: url('../fonts/MulishRegular.ttf');
    src: url('../fonts/MulishRegular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'MulishSemiBold';
    font-display: swap;
    src: url('../fonts/MulishSemiBold.ttf');
    src: url('../fonts/MulishSemiBold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'MulishBold';
    font-display: swap;
    src: url('../fonts/MulishBold.ttf');
    src: url('../fonts/MulishBold.ttf') format('truetype'); 
}

$font-primary-light: 'MulishExtraLight';
$font-primary-regular: 'MulishRegular';
$font-primary-semi-bold: 'MulishSemiBold';
$font-primary-bold: 'MulishBold';