//Colors 
$color-white: #FFF;
$color-black: #000;
$color-pink: #FC3C8D;
$color-green: #219653;
$color-blue: #2F80ED; 
$color-yellow: #FEC400;
$color-gray-light: #C4C4C4; 
$color-gray-dark: #363740; 

//Fonts
$font-primary-light: 'MulishExtraLight';
$font-primary-regular: 'MulishRegular';
$font-primary-semibold: 'MulishSemiBold';
$font-primary-bold: 'MulishBold';

:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-green: $color-green;
    

}