@import '_variables';
@import '_fonts';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap');

//Colors 
$color-white: #FFF;
$color-black: #000;
$color-pink: #FC3C8D;
$color-green: #219653;
$color-blue: #2F80ED; 
$color-yellow: #FEC400;
$color-gray-light: #C4C4C4; 
$color-gray-dark: #363740; 

//Fonts
$font-primary-light: 'MulishExtraLight';
$font-primary-regular: 'MulishRegular';
$font-primary-semibold: 'MulishSemiBold';
$font-primary-bold: 'MulishBold';